extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        img.personal-logo(src='/static/img/branding/personal-logo-SVG-black.svg', alt='Dylan Bryan personal branding logo', height='100px', width='100px')
        
        h1 Dylan Bryan
          
        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | Assertive and charismatic professional with an autonomous work mentality. Offering nine years of combined experience in the fields of construction, restaurants, marketing, design and direct sales industries.
            br
            br
            | Having become extremely fanscinated with the world of technology, I have decided to swtich career paths and move into a developer role. Learning more each day about how I can change the world through code, I wish to do this for your company.
            br
            br
            | JavaScript has become my primary language, as there is so much that can be done with it. However, I love the process of development period and would be open to learning more as it is needed, I will always be looking to be the person that the team needs me to be.
            br
            br
            | Driven by performance and results, I will ensure you are my top priority and only a phone call away in case you have any needs. For when your company succeeds with your goals and sales so do I, measuring my accomplishments by how well I can help you meet deadlines and targets. 
            
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul.skill
          li HTML
          li CSS
          li JavaScript
          li JSON
          li JQuery
          li AJAX
          li Github
          li NPM
          li Node JS
          li Pug 
          li Express
        h6 Contact Info

        ul
          li dylan.g.bryan@gmail.com
          li Baltimore, Maryland

        a.button.expanded(href='https://www.linkedin.com/in/dylan-bryan-axel-grayson/' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/d-bryan' target='_blank') GitHub
        a.button.expanded(href='https://twitter.com/DylanBryann' target='_blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  