extends layout.pug

block content
  article.grid-container
    .grid-x
      .cell.small-6.medium-9.large-9
        h1.error-status I'm sorry, we couldn't find what you are looking for...
          img.error-status(src='static/img/silhouette-404.png')
        h2.error-status #{error.status}
        h2.error-status It seems like you have gone exploring...
        h5.error-status
          a(href='/') ← Find Your Way Home
        br
        p.error-status
          span This may help you find what you are looking for
          br
          br
          span  #{error.stack}
        