<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Dylan Bryan | Full Stack JavaScript Developer Portfolio
    meta(name='keywords', content='Dylan Bryan, JavaScript, Developer, Full Stack Javscript')
    meta(name='description', content='When your company succeeds with your goals and sales so do I, measuring my accomplishments by how well I can help you meet deadlines and targets.')
    link(rel='icon', type='image/svg+xml', href='/static/img/personal-logo-SVG-white.svg')
    link(rel='icon', type='image/png', sizes='16x16', href='/static/img/branding/white/Personal Logo_16x16.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/static/img/branding/white/Personal Logo_32x32.png')
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/foundation.css')
    link(rel='stylesheet', href='/static/css/style.css')
  body
    #my-info.off-canvas.position-left.reveal-for-large.portfolio-me(data-off-canvas='')
      .grid-y.grid-padding-x(style='height: 100%;')
        block sidebar
          br
          .cell.shrink
            img.thumbnail(src='/static/img/profile-pic.png')
          .cell.auto

            h5 Dylan Bryan

            p.text-light
              | With a do whatever it takes mentaility to get the job done, I am ready to accomplish the next milestone achievement in front of me, which is full stack development.

            p.text-light
              span 443-547-8954
              br
              span dylan.g.bryan@gmail.com
              br
              span Baltimore, Maryland
            
            a(href='/about') Learn More →

    .off-canvas-content(data-off-canvas-content='')
      .title-bar.hide-for-large
        .title-bar-left
          button.menu-icon(type='button', data-toggle='my-info')

          
          span.title-bar-title Dylan Bryan
      block content
        

  
  script(src='/static/js/vendor/jquery.js')
  script(src='/static/js/vendor/what-input.js')
  script(src='/static/js/vendor/foundation.js')
  script(src='/static/js/scripts.js')
